@using OrchardCore.Entities
@using OrchardCore.ContentManagement
@using OrchardCore.DisplayManagement
@using OrchardCore.DisplayManagement.Shapes
@using OrchardCore.Flows.Models

@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

@{
    var widget = (ContentItem)Model.ContentItem;
    var flowMetadata = widget.As<FlowMetadata>();
    var title = widget.DisplayText;
}

<!-- Spotlight -->
<div class="spotlight-section py-4 py-md-5 position-relative">
    <img class="position-absolute spotlight-section__img"  src="content/images/site-icon.png"
         alt="Image" id="container-bg-img" />
    <div class="container my-lg-5 py-lg-5">
        <h3 class="text-secondary text-uppercase font2 mb-0">@title</h3>
        <!-- Cards -->
        <div class="row container-row">
            @await DisplayAsync(Model.Content.SubHeading)
            @await DisplayAsync(Model.Content.FlowPart)
        </div>
        <!-- Cards -->

    </div>
</div>
<!-- Spotlight -->

