<!-- Page Not Found Section -->
<div class="section-bg section-404 py-5 overflow-hidden position-relative d-flex flex-column justify-content-center">
    <img class="position-absolute section-404__icon" src="content/images/404-error-bg-icon.png" alt="Icon" />
    <div class="container my-md-5 position-relative z-1">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start order-lg-1">
                <strong class="section-404__big-text text-primary lh-1 d-block">404</strong>
            </div>
            <div class="col-md-7 col-xl-5 col-lg-6">
                <h1 class="text-primary lh-1">PAGE <br> NOT FOUND</h1>
                <a href="/" class="btn btn-outline-primary rounded-5">Go Back</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Not Found Section -->